@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular-webfont.woff2') format('woff2'),
       url('../fonts/firasans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-light-webfont.woff2') format('woff2'),
       url('../fonts/firasans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-bold-webfont.woff2') format('woff2'),
       url('../fonts/firasans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #f23830;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

p {
}

  p:last-child {
    margin-bottom: 0;
  }

  p.intro {
    font-weight: 700;
  }

a {
  color: #f23830;
}

header {
  display: block;
  width: 100%;
  background-color: #f23830;
  padding: 15px 25px 10px 25px;
  margin-bottom: 50px;
}

nav {
  font-size: 14px;
}

  nav a {
    text-decoration: none;
    color: #000000;
  }

  nav a:hover {
    text-decoration: underline;
  }

  nav ul {
    list-style: none;
  }

  nav li.header {
    margin-left: 0;
  }

  nav li.header > ul {
    margin-bottom: 20px;
  }

  nav li.header > ul li {
    margin-left: 15px;
  }

  nav li.header > a {
    color: #f23830;
  }

article p {
  max-width: 720px;
}

blockquote {
  padding: 25px;
  background-color: #f8f8f8;
  border-radius: 10px;
  font-style: italic;
}

ul {
  margin-left: 0;
}

li {
  margin-left: 2em;
}

/* Bottom content margin */
blockquote, p, ul {
  margin-bottom: 1.75em;
}
